{{ define "body-class" }}article-page keep-sidebar{{ end }}
{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ $hinaruiPosts := where site.RegularPages "Section" "post" }}
    {{ $hinaruiPosts = where $hinaruiPosts "Params.tags" "intersect" (slice "UI") }}

    {{ if gt (len $hinaruiPosts) 0 }}
        <section class="article-list--compact">
            {{ range $hinaruiPosts }}
                {{ partial "article-list/compact" . }}
            {{ end }}
        </section>
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}
